.Main
  .GroupInfo
    .Wrapper
      .GroupBox
        %p.GroupBox__groupname= @group.name
        %ul.Members
          %li.Members__member_p Member&nbsp;:&nbsp;
          - @group.users.each do |user|
            %li.Members__member=   user.name
      .EditForm
        = link_to "Edit", edit_group_path(@group), { class: "EditForm_group" }
  .Chat-Display
    .ChatLists
      - @messages.each do |message|
        .ChatList
          .ChatInfo
            .ChatInfo_name= message.user.name
            .ChatInfo_date 2019/11/20(Wed) 17:43
          %p.ChatList_message= message.content
  .SendMessage
    = form_with model: [@group, @message], html: {class: "FormBox"}, local: true do |f|
      .Text-Image
        = f.text_field :content, class: 'Text-Image_text', placeholder: 'type a text'
        = f.label :image, {class: "Text-Image_image"} do
          = icon('far', 'images')
          = f.file_field :image
      = f.submit 'Send', class: 'FormBox_submit'