.Main
  .GroupInfo
    .Wrapper
      .GroupBox
        %p.GroupBox__groupname= @group.name
        %ul.Members
          %li.Members__p Member&nbsp;:&nbsp;
          - @group.users.each do |user|
            %li.Members__member=   user.name
      .EditForm
        = link_to "Edit", edit_group_path(@group), { class: "EditForm_group" }
  .Chat-Display
    .ChatLists
      = render partial: 'message', locals: {messages: @messages}
  .SendMessage
    = form_with model: [@group, @message], html: {class: "FormBox"}, local: true do |f|
      .Text-Image
        = f.text_field :content, class: 'Text-Image_text', placeholder: 'type a text'
        = f.label :image, class: 'Text-Image_image' do
          = icon('far', 'images')
          = f.file_field :image
      = f.submit 'Send', class: 'FormBox_submit'