- messages.each do |message|
  .ChatList{data: {message: {id: message.id}}}
    .ChatInfo
      .ChatInfo_name= message.user.name
      .ChatInfo_date= message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    %p.ChatList_message= message.content
    - if (message.image.present?)
      = image_tag "#{message.image}", alt: "写真"